.home-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  padding: 2rem;
}

.heading-black {
  color: black;
}

@media (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr;
  }
}

.contact-info {
  margin-left: -1rem;
}

@media (max-width: 768px) {
  .contact-info {
    margin-left: 0;
  }
}